    // nav li {width: 25%; float: left;}

    nav {
        ul {
            display: flex;
            justify-content: space-around;
        } //
    } //end of nav
    
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    
